
<div class="container mt-5">
  <h1 class="mb-4 text-center text-primary">Your Borrowed Books</h1>
  <table class="table table-hover table-bordered shadow-sm rounded">
    <thead class="bg-primary text-white">
      <tr>
        <th>Title</th>
        <th>Due Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @borrowings.each do |borrowing| %>
        <tr>
          <td><%= borrowing.book.title %></td>
          <td><%= borrowing.due_date.strftime('%B %d, %Y') %></td>
          <td>
            <%= button_to 'Return Book', borrowing_path(borrowing), method: :patch, class: 'btn btn-outline-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center mt-4">
    <%= link_to 'Back to Books', books_path, class: 'btn btn-outline-secondary btn-lg' %>
  </div>
</div>
